<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/code">
        <label for="input1">Write code here</label>
        <textarea rows=20 cols=50 type="text" name="script" id="input1"></textarea>
        <label for="lang">Language</label>
        <input type="text" name="language" id="lang">
        <label for="inputs">Input</label>
        <input type="text" name="stdin" id="inputs">
        <button type="submit">Submit</button>
    </form>
</body>
</html>